---
layout: layouts/base
---

<!-- Page -->
<div class="max-w-4xl p-6 mx-auto sm:p-8 md:p-16">

    <h1 class="text-2xl font-bold text-orange-500 border-b-2 border-orange-300">{{ title }}</h1>

    <section class="mt-8 first:mt-0">

        {# <h2 class="mb-4 text-sm font-bold tracking-widest text-orange-500 uppercase">
            About Me
        </h2> #}

        <section class="py-8 ">
            {{ content | safe }}
        </section>

    </section>

    <section class="mt-8 first:mt-0">

        <h2 class="my-8 text-sm font-bold tracking-widest text-orange-500 uppercase border-b-2 border-orange-300">
            Experience
        </h2>

        {% for item in experience %}
            <section class="mb-10">
                <header class="inline-block px-8 py-4 text-purple-800 transition duration-200 ease-in-out bg-orange-200 border-b-2 border-orange-400 rounded-full rounded-tl-none shadow-md text-centr hover:shadow-xl ">
                    <h3 class="text-lg font-semibold text-purple-700">
                        {{ item.company }}
                    </h3>
                    <p class="leading-tight ">
                        <span class="text-orange-500">{{ item.title }}</span>
                        <span class="text-sm text-orange-400">({{ item.date }})</span>
                    </p>
                </header>

                {% if item.description %}
                    <p class="mt-2 leading-normal text-gray-700 text-md">
                        {{ item.description }}
                    </p>
                {% endif %}

                <ul class="px-5 m-8 space-y-4 text-sm leading-normal list-outside border-l-2 border-orange-200 rounded-b-l">
                    {% for item in item.items %}
                        <li class="">
                            {{ item }}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}

    </section>

    <section class="mt-8 first:mt-0">

        <!-- To keep in the same column -->
        <div class="break-inside-avoid">

            <h2 class="my-8 text-sm font-bold tracking-widest text-orange-500 uppercase border-b-2 border-orange-300">
                Education
            </h2>
            {% for item in education %}
                <section class="mb-5 ">
                    <header class="inline-block px-8 py-4 text-purple-800 transition duration-200 ease-in-out bg-orange-200 border-b-2 border-orange-400 rounded-full rounded-tl-none shadow-md text-centr hover:shadow-xl ">
                        <h3 class="text-lg font-semibold text-purple-700">
                            {{ item.company }}
                        </h3>
                        <p class="leading-tight ">
                            <span class="text-orange-500">{{ item.title }}</span>
                            <span class="text-sm text-orange-400">({{ item.date }})</span>
                        </p>
                    </header>
                    <p class="px-5 m-8 space-y-4 text-sm leading-normal list-outside border-l-2 border-orange-200 rounded-b-l">
                        {{ item.description }}
                    </p>
                </section>
            {% endfor %}

        </div>

    </section>

    <section class="mt-8 first:mt-0">

        <h2 class="my-8 text-sm font-bold tracking-widest text-orange-500 uppercase border-b-2 border-orange-300">
            Skills
        </h2>

        <div class="grid grid-cols-2 divide-gray-400 divide-">
            {% for item in skills %}
                <section class="mb-5 mr-4">
                    <header>
                        <h3 class="text-lg font-semibold leading-tight text-purple-700">
                            {{item.title}}
                        </h3>
                        {% if item.description %}
                            <p class="leading-normal text-gray-700 text-md">
                                {{item.description}}
                            </p>
                        {% endif %}

                    </header>
                    <div class="my-3 last:pb-2">

                        <ul class="flex flex-wrap px-4 -mb-2 -mr-2 leading-normal border-l-2 border-orange-200 text-md">
                            {% for item in item.items %}
                                <li class="px-2 mb-2 mr-2 text-xs text-orange-700 bg-orange-200 rounded ">
                                    {{ item }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>

            {% endfor %}
        </div>

    </section>

</div>

<!-- end Page -->